*{ 
    margin: 0;
    padding: 0;    
}

ul,li,ol,dl,dt,dd{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	border: 0;
}
b, strong {
    font-weight: bolder;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}